# Utrecht Housing Price Predictor

The goal of the project is to explore how well housing prices can be predicted based on property characteristics and to build a clear end-to-end machine learning pipeline, from data exploration and preprocessing to model training and evaluation.

In [1]:
# import libraries
import pandas as pd

Importing dataset from csv

In [2]:
df = pd.read_csv("utrecht dataset/utrechthousinghuge.csv")
df

,id,zipcode,lot-len,lot-width,lot-area,house-area,garden-size,balcony,x-coor,y-coor,buildyear,bathrooms,taxvalue,retailvalue,energy-eff,monument
0,100426,3528,11.1,5.0,55.5,112.50,10.5,2,2112,5113,1932,1,494000,670000,0,1
1,100871,3528,13.6,5.0,68.0,112.50,8.0,0,2355,5218,1945,1,504000,675000,0,1
2,100936,3800,16.6,6.7,111.2,150.75,44.2,2,2656,5200,1946,1,692000,869000,0,1
3,100970,3800,18.6,6.0,111.6,108.00,39.6,2,2856,5201,1946,1,521000,628000,0,1
4,101191,3800,19.6,6.0,117.6,108.00,45.6,1,2962,5266,1950,1,526000,610000,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,993057,3525,12.5,7.9,98.8,142.20,19.8,2,2252,5752,1990,2,648000,765000,1,0
1996,993131,3500,16.5,7.5,123.8,135.00,33.8,2,2650,5768,1992,1,639000,728000,0,0
1997,993444,3525,12.0,6.5,78.0,146.25,19.5,2,2204,5854,2000,2,647000,733000,1,0
1998,993873,3525,13.5,7.6,102.6,136.80,26.6,1,2352,5958,2015,2,629000,694000,1,0
1999,993963,3500,18.1,8.2,148.4,184.50,58.2,2,2814,5954,2012,2,857000,888000,1,0

In [3]:
df.shape

(2000, 16)

In [4]:
df.head()

,id,zipcode,lot-len,lot-width,lot-area,house-area,garden-size,balcony,x-coor,y-coor,buildyear,bathrooms,taxvalue,retailvalue,energy-eff,monument
0,100426,3528,11.1,5.0,55.5,112.50,10.5,2,2112,5113,1932,1,494000,670000,0,1
1,100871,3528,13.6,5.0,68.0,112.50,8.0,0,2355,5218,1945,1,504000,675000,0,1
2,100936,3800,16.6,6.7,111.2,150.75,44.2,2,2656,5200,1946,1,692000,869000,0,1
3,100970,3800,18.6,6.0,111.6,108.00,39.6,2,2856,5201,1946,1,521000,628000,0,1
4,101191,3800,19.6,6.0,117.6,108.00,45.6,1,2962,5266,1950,1,526000,610000,0,1

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           2000 non-null   int64
 1   zipcode      2000 non-null   int64
 2   lot-len      2000 non-null   float64
 3   lot-width    2000 non-null   float64
 4   lot-area     2000 non-null   float64
 5   house-area   2000 non-null   float64
 6   garden-size  2000 non-null   float64
 7   balcony      2000 non-null   int64
 8   x-coor       2000 non-null   int64
 9   y-coor       2000 non-null   int64
 10  buildyear    2000 non-null   int64
 11  bathrooms    2000 non-null   int64
 12  taxvalue     2000 non-null   int64
 13  retailvalue  2000 non-null   int64
 14  energy-eff   2000 non-null   int64
 15  monument     2000 non-null   int64
dtypes: float64(5), int64(11)
memory usage: 250.1 KB